:root {
    --size: 50px;
}

table {
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    width: var(--size);
    height: var(--size);
}

td.open-left {
    border-left: none;
}

td.open-right {
    border-right: none;
}

td.open-top {
    border-top: none;
}

td.open-bottom {
    border-bottom: none;
}